@import "./tab.common";

.horizontal-top {
  @include round-bl;
  @include round-br;
}

.ui-tab-list {
  margin:0 auto;
  display: table;
  list-style: none;
  box-shadow: 0px 4px 4px rgba( 0,0,0,0.5);
  background-color: $background_color;
  padding: 0px;
}