// This style sheet applied to both tab-list and tab.
// https://angular.io/docs/ts/latest/guide/component-styles.html#!#special-selectors
@import "./tab.common";

.ui-tab.first { @include round-bl; }
.ui-tab.last  { @include round-br; }

.ui-tab:hover {
  background-color: $hover_background_color;
}

.ui-tab {
  display: table-cell;
  margin: -$border_width 0px 0px 0px;
  padding: 0px;
  margin-top: -1px;
  min-width: 40px;
  text-align: center;
}

.ui-tab a {
  text-decoration: none;
}

:host-context(.ui-tab-list) .ui-tab {
}
