$tab_border_width: 1px;
$tab_border: $tab_border_width solid #FF0000;
$tab_background_color: #FFFFFF;

.horizontal-top {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.ui-tab-list {
  margin:0 auto;
  display: table;
  box-shadow: 0px 4px 4px rgba( 0,0,0,0.5);
  background-color: $tab_background_color;
  padding: 0px;
}

.ui-tab-list > * {
  margin: 0;
}

.ui-tab:hover {
  background-color: #FF00FF;
}

.ui-tab {
  display: table-cell;
  margin: -$tab_border_width 0px 0px 0px;
  padding: 0px;
  margin-top: -1px;
  min-width: 40px;
  text-align: center;
  background-color: #ABC;
}
