<div>
  <ui-tab-wrapper class="horizontal-top">
    <ui-tab-container [isOpened]="isTabOpened">
    <div [ngSwitch]="mode">
	    <div *ngSwitchCase="'continentSelect'" style="width: 300px;">
	      <p>continent</p>
	    </div>
	    <div *ngSwitchCase="'markerSelect'" style="width: 300px;">
	      <p>marker</p>
	    </div>
	    <div *ngSwitchCase="'setting'" style="width: 300px;">
	      <p>setting</p>
	    </div>
    </div>
    </ui-tab-container>
	  <ui-tab-list>
	    <ui-tab (click)="continentSelect()"><a href="#">Indar</a></ui-tab>
	    <ui-tab (click)="markerSelect()"><a href="#">Marker</a></ui-tab>
	    <ui-tab (click)="setting()"><a href="#">Setting</a></ui-tab>
	  </ui-tab-list>
	</ui-tab-wrapper>
</div>
